@{
    ViewBag.Title = "SubirArchivo";
}

<h2>CARGAR ALBUM</h2>

@using (Html.BeginForm("SubirArchivo", "Editaje", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" })<br />

        <input type="submit" value="Cargar archivo" />

        @ViewBag.Message

    </div>
}